.section {
	margin-top: 90px;
}

.info_wrapper_left {
	width: 50%;
}

.info_wrapper_right {
	width: 50%;
	margin-left: 50%;
}

.heading {
	font-size: 30px;
	line-height: 41px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: var(--color-span);
}

.description {
	margin-top: 40px;
	line-height: 150%;
	letter-spacing: 0.02em;
}

.table {
	width: 100%;
	margin-top: 60px;
}

.table_head {
	width: 100%;
	height: 116px;
	background-color: var(--color-primary);
	display: flex;
}

.th_1,
.th_2,
.th_3,
.td_1,
.td_2,
.td_3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.th_1,
.td_1 {
	width: 40%;
}

.th_2,
.td_2 {
	width: 30%;
}

.th_3,
.td_3 {
	width: 30%;
}
.table_post_heading,
.table_heading {
	font-size: 22px;
	line-height: 150%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: var(--color-span);
}

.row {
	display: flex;
	height: 80px;
}

.row_title {
	line-height: 150%;
	letter-spacing: 0.02em;
	width: 100%;
	padding-left: 25px;
	text-align: left;
}

.price {
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: var(--color-secondary);
}

.table_post_heading {
	color: var(--color-secondary);
}

.table_small {
	display: none;
}

@media (max-width: 1024px) {
	.section {
		margin-top: 75px;
	}
	.info_wrapper_right,
	.info_wrapper_left {
		margin-left: 0;
		width: 55%;
	}
	.table,
	.description {
		margin-top: 50px;
	}
	.description,
	.row_title {
		font-size: 15px;
	}
	.row_title {
		padding-left: 20px;
	}
	.table_head {
		height: 120px;
	}
	.table_heading,
	.table_post_heading {
		font-size: 18px;
	}
	.price {
		font-size: 22px;
	}
	.row {
		height: 86px;
	}
	.th_1,
	.th_2,
	.th_3 {
		padding: 0 10px;
	}
}

@media (max-width: 900px) {
	.info_wrapper_left,
	.info_wrapper_right {
		width: 65%;
	}
}

@media (max-width: 760px) {
	.row_title {
		font-size: 13px;
	}
	.table_heading,
	.table_post_heading {
		font-size: 15px;
	}
	.price {
		font-size: 19px;
	}
	.info_wrapper_left,
	.info_wrapper_right {
		width: 100%;
	}
}
@media (max-width: 625px) {
    .heading {
        font-size: 22px;
        line-height: 28px;
    }
    .description {
        margin-top: 25px;
        font-size: 13px;
    }
	.section {
		margin-top: 45px;
	}
	.table {
		display: none;
	}
	.table_small {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 25px;
	}
	.t_head_wrapper {
		display: flex;
	}
	.table_head_small {
		width: 100%;
		height: 78px;
	}
	.th_2_small {
		width: 100%;
		height: 78px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--color-primary);
	}
	.table_heading,
	.table_post_heading {
		font-size: 15px;
	}
	.row_small {
		display: flex;
		align-items: center;
		width: 100%;
		height: 62px;
	}
	.row_title_small {
		font-size: 12px;
		line-height: 136%;
        padding-left: 10px;
	}
	.td_1_small {
		width: 66%;
	}
	.td_2_small {
		width: 34%;
	}
	.t_body_small {
		width: 100%;
	}
	.price {
		text-align: center;
        font-size: 16px;
	}
}
