.section {
    margin-top: 30px;
}
.heading {
	text-align: center;
	font-size: 28px;
	text-decoration: underline;
}
.add_wrapper {
    margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 80%;
	height: min-content;
	margin-top: 20px;
	padding: 5px;
	gap: 10px;
	border: 2px solid rgb(117, 29, 217);
	border-radius: 5px;
}

.remark {
    font-weight: 500;
    line-height: 32px;
}

.input {
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid gray;
}

.option_heading {
    font-weight: 500;
}

.btn_wrapper {
    display: flex;
    justify-content: space-between;
}

.btn,
.btn_delete,
.btn_full {
    width: 200px;
    border: 2px solid rgb(117, 29, 217);
	color: rgb(117, 29, 217);
	font-weight: 700;
	border-radius: 5px;
}

.btn_delete {

    border: 2px solid rgb(255, 0, 0);
	color: rgb(255, 0, 0);

}

.btn:disabled,
.btn_delete:disabled,
.btn_full:disabled {
    opacity: .6;
}

.btn_full {
    width: 100%;
}

.heading_small {
    margin-top: 15px;
    font-weight: 500;
}

.option_wrapper {
    margin-top: 10px;
    margin-left: 20px;
}