.form {
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 200px;
    margin-top: 2px;
    padding: 5px;
}

.button {
    width: 200px;
    margin-top: 5px;
}