.section {
    width: 100%;
    margin-top: 20px;
}

.heading {
    text-align: center;
    font-size: 28px;
    text-decoration: underline;
}

.review {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(117, 29, 217);
}

.text {
    margin: 5px 0;
}

.date {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 10px;
}

.btn_wrapper {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: 10px;
}

.btn_apply {
    border: 2px solid rgb(117, 29, 217);
    color: rgb(117, 29, 217);
}

.btn_delete {
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}